<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @age_range.description %>
</p>

<%= link_to 'Edit', edit_age_range_path(@age_range) %> |
<%= link_to 'Back', age_ranges_path %>
